<?xml version="1.0"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="JaStDev.HAB.Properties.Settings.wordnetConnectionString"
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\wordnet.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
         providerName="System.Data.SqlClient" />
    <add name="JaStDev.HAB.Properties.Settings.wordnet3ConnectionString"
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\wordnet3.mdf;Integrated Security=True;User Instance=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>