@{
    ViewBag.Title = "About Aici";
}

<h2>About</h2>
<p>
     This is the about page of Aici (artificially intelligint chat interface) for the web. Please go to <a href="http://www.bragisoft.com">BragiSoft</a>  for more information.
</p>
