<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AiciWeb.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<customErrors mode="Off"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>
		<!-- Register the binding extension from the SDK. -->
		<extensions>
			<bindingExtensions>
				<add name="pollingDuplexHttpBinding" type="System.ServiceModel.Configuration.PollingDuplexHttpBindingCollectionElement,System.ServiceModel.PollingDuplex, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</bindingExtensions>
		</extensions>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="AiciWeb.Web.AiciService.customBinding0">
					<binaryMessageEncoding/>
					<httpTransport/>
				</binding>
			</customBinding>
			<!-- Create the polling duplex binding. -->
			<pollingDuplexHttpBinding>
				<binding name="multipleMessagesPerPollPollingDuplexHttpBinding" duplexMode="MultipleMessagesPerPoll" maxOutputDelay="00:00:00.2"/>
			</pollingDuplexHttpBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="AiciWeb.Web.AiciService">
				<!--behaviorConfiguration="AiciWeb.Web.AiciServiceBehavior"-->
				<!-- Service Endpoints -->
				<endpoint address="" binding="pollingDuplexHttpBinding" bindingConfiguration="multipleMessagesPerPollPollingDuplexHttpBinding" contract="AiciWeb.Web.IAiciService">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
	<applicationSettings>
		<AiciWeb.Web.Properties.Settings>
   <setting name="MaxConcurrentProcessors" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="InitProcessorStackSize" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="DBLocation" serializeAs="String">
    <value>C:\HostingSpaces\bragisof\bragisoft.com\data\AiciClient\Data</value>
   </setting>
   <setting name="LogFile" serializeAs="String">
    <value>C:\HostingSpaces\bragisof\bragisoft.com\data\AiciClient\Logs\general.log</value>
   </setting>
   <setting name="ConversationsLogLoc" serializeAs="String">
    <value>C:\HostingSpaces\bragisof\bragisoft.com\data\AiciClient\Logs</value>
   </setting>
  </AiciWeb.Web.Properties.Settings>
	</applicationSettings>
</configuration>
