<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>


    <applicationSettings>
        <Aici.Properties.Settings>
            <setting name="DefaultController" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>{0}</value>
            </setting>
            <setting name="LogFile" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>{10}Logs\general.log</value>
            </setting>
            <setting name="ConversationsLogLoc" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>{10}Logs</value>
            </setting>
            <setting name="DBLocation" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>{10}{9}</value>
            </setting>
            <setting name="SendTimeOutMs" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>{2}</value>
            </setting>
            <setting name="IPFilter" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>{3}</value>
            </setting>
            <setting name="HtmlAsPartial" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>{4}</value>
            </setting>
            <setting name="UseCustomPage" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>{5}</value>
            </setting>
            <setting name="MaxConcurrentProcessors" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>{6}</value>
            </setting>
            <setting name="InitProcessorStackSize" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>{7}</value>
            </setting>
            <setting name="MinReservedBlockedProcessors" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
                <value>{8}</value>
            </setting>

           <setting name="CrazyTalkChar" serializeAs="String"
                     xdt:Transform="Replace" xdt:Locator="Match(name)">
              <value>{11}</value>
           </setting>
        </Aici.Properties.Settings>
    </applicationSettings>
    
</configuration>