<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JaStDev.HAB.Designer.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <JaStDev.HAB.Designer.Properties.Settings>
      <setting name="DefaultTemplatePath" serializeAs="String">
        <value />
      </setting>
      <setting name="DialogTextOutColor" serializeAs="String">
        <value>#FF0000FF</value>
      </setting>
      <setting name="AutoSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSaveInterval" serializeAs="String">
        <value>00:10:00</value>
      </setting>
      <setting name="AutoAddItemsToMindMapCluter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplicationHeight" serializeAs="String">
        <value>460</value>
      </setting>
      <setting name="ApplicationWidth" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="ApplicationTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ApplicationLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ApplicationWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="DialogTextInColor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="SandboxPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FrameNetPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ToolbarExpandedEditorsOverview" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedDescriptionView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedDebugger" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedNeuronExplorer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedThesaurusView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedTimersView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedWordNetChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedAudioChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedFlowEditor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FlowItemDisplayMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ToolboxExpandedNeuronExplorer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedCodeEditor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxConcurrentProcessors" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="InitProcessorStackSize" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="VerbNetPath" serializeAs="String">
        <value />
      </setting>
      <setting name="RegExFile" serializeAs="String">
        <value />
      </setting>
      <setting name="ToolbarExpandedFrameEditor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NDBBrowserWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="NDBBrowserHeight" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ToolbarExpandedTextChannelView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedReflectionChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedMemProfiler" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedAssetEditor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedTestCases" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedVisualEditor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolbarExpandedImageChannelView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CharactersPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CharacterExtractionPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ToolbarExpandedChatBotView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DesignerTriggersNetworkEvents" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EditorsUseSpellcheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxNrOfUndo" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="PatternEditorsFont" serializeAs="String">
        <value>Consolas</value>
      </setting>
      <setting name="TextPatternSearchMatchCase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TextPatternSearchIncludeNoReply" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TextPatternSearchScope" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TextPatternSearchAsRegEx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TextPatternSearchIncludeOutput" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TextPatternSearchIncludeinput" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TextPatternSearchIncludeDo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TextPatternSearchIncludeQuestions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TextPatternSearchIncludeCondition" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinReservedBlockedProcessors" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="SpeechEngineMode" serializeAs="String">
        <value>NonManaged</value>
      </setting>
      <setting name="CustomSpellingDictsPath" serializeAs="String">
        <value />
      </setting>
      <setting name="OnlineInstallationPath" serializeAs="String">
        <value>ftp://ftp.bragisoft.com/</value>
      </setting>
      <setting name="ToolbarExpandedTopicEditor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TextPatternIsAddMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThesSearchMapCriterium" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="ThesSearchNeedsExactMatch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThesSearchAllRelationships" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastCustomDLL" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCustomSource" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSelectedEntryPoint" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastCustomDestination" serializeAs="String">
        <value />
      </setting>
      <setting name="ToolbarExpandedQueryEditor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QueryExtraFilesHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="QueryExtraFilesWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="TabSize" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="QueryExtraDataHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="QueryExtraDataWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="QueryRTExtraDataHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="QueryRTExtraDataWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ResponseForDefaultStyleAsPattern" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TextPatternSearchIncludeTopicFilters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DuplicatePatternLogMethod" serializeAs="String">
        <value>Warning</value>
      </setting>
    </JaStDev.HAB.Designer.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>